.container{
    width: 100%;
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.logo{
    width: 40%;
    height: 50%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo img{
    height: 100%;
    width: auto;
    margin-left: 10%;
}
.tabs{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.tab{
    width: 15%;
    height: 60%;
}
.tab div{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
    color: #FFFFFF;
    transition: .7s;
}
.tab div:hover{
    background-color: #FFFFFF;

    color: #202020;

    transition: .7s;
}